@font-face {
  font-family: "zabras";
  src: url("../font/zabars.ttf") format("truetype");
}

$mainFont: "zabras", sans-serif;
$systemFont: system-ui, sans-serif;

@mixin centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("../img/5_background/desert2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  @include centerDiv();
  flex-direction: column;
  margin-top: 10rem;

  h1 {
    font-size: clamp(2rem, 20vw, 20rem);
    letter-spacing: 0.5rem;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    margin-block: 0;
    user-select: none;
    font-family: $mainFont;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    -webkit-text-fill-color: rgba(250, 165, 0, 1);
  }
}

.start_btn {
  padding: 0.8em 0em;
  width: 350px;
  background: #95d8f5;
  border-radius: 15px;
  border: 0;
  user-select: none;
  color: #fff;
  font-size: 2rem;
  font-family: $systemFont;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  -webkit-text-fill-color: rgba(250, 165, 0, 1);
  letter-spacing: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  margin: 1em 2em;
  text-transform: uppercase;
  box-shadow: none;
  box-shadow: -1px 5px 5px 0px #000;

  background: -moz-linear-gradient(
    -45deg,
    #6dd0fa 0%,
    #6dd0fa 40%,
    #ffffff 50%,
    #6dd0fa 60%,
    #6dd0fa 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #6dd0fa),
    color-stop(40%, #6dd0fa),
    color-stop(50%, #ffffff),
    color-stop(60%, #6dd0fa),
    color-stop(100%, #6dd0fa)
  );
  background: -webkit-linear-gradient(
    -45deg,
    #6dd0fa 0%,
    #6dd0fa 40%,
    #ffffff 50%,
    #6dd0fa 60%,
    #6dd0fa 100%
  );
  background: -o-linear-gradient(
    -45deg,
    #6dd0fa 0%,
    #6dd0fa 40%,
    #ffffff 50%,
    #6dd0fa 60%,
    #6dd0fa 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    #6dd0fa 0%,
    #6dd0fa 40%,
    #ffffff 50%,
    #6dd0fa 60%,
    #6dd0fa 100%
  );
  background: linear-gradient(
    135deg,
    #6dd0fa 0%,
    #6dd0fa 40%,
    #ffffff 50%,
    #6dd0fa 60%,
    #6dd0fa 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dd0fa', endColorstr='#6dd0fa',GradientType=1 );
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: 300%;
}

.start_btn:hover {
  animation: light 1s;
  -webkit-animation: light 1s;
}

@keyframes light {
  0% {
    background-position: -600px;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes light {
  0% {
    background-position: -600px;
  }
  100% {
    background-position: 0px;
  }
}

.bounce:hover {
  animation: bounce 1s;
  -webkit-animation: bounce 1s;
}

.footer {
  display: flex;
  padding-top: 5rem;
  margin-bottom: 3rem;

  .btn_container {
    display: flex;
    gap: 2rem;

    .story_btn,
    .impress_btn,
    .privacy_policy_btn {
      width: 10rem;
      min-width: 1rem;
      padding: 0.5rem;
      font-family: $mainFont;
      font-size: 1.5rem;
      color: black;
      background-color: rgba(250, 165, 0, 1);
      border: unset;
      border-radius: 5px;
      box-shadow: -1px 1px 5px 0px #000;

      &:hover {
        cursor: pointer;
        background-color: rgb(253, 183, 44);
      }
    }
  }

  .story {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);

    .story_content {
      @include centerDiv();
      position: absolute;
      top: 50%;
      left: 50%;
      flex-direction: column;
      height: 50vh;
      width: 50vw;
      padding: 1rem;
      border: 3px solid black;
      border-radius: 10px;
      transform: translate(-50%, -50%);
      user-select: none;
      background: radial-gradient(
        circle,
        hsla(38, 59%, 78%, 1) 0%,
        hsla(38, 31%, 65%, 1) 81%
      );

      h2 {
        text-align: center;
      }

      span {
        display: block;
        margin-bottom: 10px;
        line-height: 1.5;
      }
    }
  }
}
