@font-face {
  font-family: "zabras";
  src: url("../font/zabars.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../img/5_background/desert2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.main_container {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}

canvas {
  display: flex;
  background-color: black;
}

.turnPhoneScreen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: black;
}

.turnPhoneScreen img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* MENU */
.menu_container {
  position: absolute;
  top: 1rem;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  background-color: #a0220a;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  z-index: 100;
}
.menu_container .restart_btn,
.menu_container .fullscreen_btn,
.menu_container .sound_btn {
  width: 100%;
  padding: 0.5rem;
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
  background-color: rgb(250, 165, 0);
  border: unset;
  border-radius: 5px;
  letter-spacing: 2px;
  box-shadow: -1px 1px 5px 0px #000;
}
.menu_container .restart_btn:hover,
.menu_container .fullscreen_btn:hover,
.menu_container .sound_btn:hover {
  cursor: pointer;
  background-color: rgb(253, 183, 44);
}
.menu_container .restart_btn img,
.menu_container .fullscreen_btn img,
.menu_container .sound_btn img {
  width: 1.5rem;
  height: 1.5rem;
}

/* MENU */
/* STARTSCREEN */
.start_screen_container {
  display: flex;
  width: 100%;
  height: 100%;
}
.start_screen_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.start_screen_container .btn_container {
  position: absolute;
  top: 1rem;
  left: 2rem;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  background-color: #a0220a;
  border: 1px solid whitesmoke;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  z-index: 100;
}
.start_screen_container .back_btn {
  width: 100%;
  min-width: 2rem;
  padding: 0.5rem;
  font-family: "zabras", sans-serif;
  font-size: 1.25rem;
  color: black;
  background-color: rgb(250, 165, 0);
  border: unset;
  border-radius: 5px;
  box-shadow: -1px 1px 5px 0px #000;
}
.start_screen_container .back_btn:hover {
  cursor: pointer;
  background-color: rgb(253, 183, 44);
}
.start_screen_container .start_btn,
.start_screen_container .controls_btn {
  width: 100%;
  padding: 0.5rem;
  font-family: "zabras", sans-serif;
  font-size: 1.25rem;
  color: black;
  background-color: rgb(250, 165, 0);
  border: unset;
  border-radius: 5px;
  box-shadow: -1px 1px 5px 0px #000;
}
.start_screen_container .start_btn:hover,
.start_screen_container .controls_btn:hover {
  cursor: pointer;
  background-color: rgb(253, 183, 44);
}

/* STARTSCREEN */
/* CONTROLS */
.controls_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  background: radial-gradient(circle, hsl(38, 59%, 78%) 0%, hsl(38, 31%, 65%) 81%);
}
.controls_container .controls_head {
  display: flex;
  justify-content: center;
  gap: a;
  width: 100%;
  font-size: 1.5rem;
}
.controls_container .controls_head h2 {
  font-family: "zabras", sans-serif;
  font-size: 4rem;
  letter-spacing: 3px;
  margin-bottom: 4rem;
  text-align: center;
}
.controls_container .controls_head img {
  position: absolute;
  right: 40px;
  top: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.controls_container .controls_table {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  width: 100%;
  max-width: 500px;
  border-spacing: 0 15px;
}
.controls_container .info {
  padding-left: 10rem;
}

/* CONTROLS */
/* WIN_SCREEN */
.win_Screen_container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.82);
}
.win_Screen_container .win_screen_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.win_Screen_container .win_screen_content h2 {
  margin-bottom: 3rem;
  font-family: "zabras", sans-serif;
  font-size: 160px;
  color: #ffcc00;
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
}
.win_Screen_container .win_screen_content .restart_win_btn {
  width: 10rem;
  min-width: 1rem;
  padding: 0.5rem;
  font-family: "zabras", sans-serif;
  font-size: 1.5rem;
  color: black;
  background-color: rgb(250, 165, 0);
  border: unset;
  border-radius: 5px;
  box-shadow: -1px 1px 5px 0px #000;
}
.win_Screen_container .win_screen_content .restart_win_btn:hover {
  cursor: pointer;
  background-color: rgb(253, 183, 44);
}

/* WIN_SCREEN */
/* GAME_OVER_SCREEN */
.gameOver_screen_container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.82);
}
.gameOver_screen_container .gameOver_screen_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.gameOver_screen_container .gameOver_screen_content h2 {
  margin-bottom: 3rem;
  font-family: "zabras", sans-serif;
  font-size: 160px;
  color: #ffcc00;
  letter-spacing: 1rem;
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
}
.gameOver_screen_container .gameOver_screen_content .restart_lose_btn {
  width: 10rem;
  min-width: 1rem;
  padding: 0.5rem;
  font-family: "zabras", sans-serif;
  font-size: 1.5rem;
  color: black;
  background-color: rgb(250, 165, 0);
  border: unset;
  border-radius: 5px;
  box-shadow: -1px 1px 5px 0px #000;
}
.gameOver_screen_container .gameOver_screen_content .restart_lose_btn:hover {
  cursor: pointer;
  background-color: rgb(253, 183, 44);
}

/* GAME_OVER_SCREEN */
/* MOBILE_BUTTONS */
#mobileBtn {
  position: absolute;
  bottom: 0;
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#mobileBtn .mobile_moving {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 1rem;
  gap: 0.5rem;
}
#mobileBtn .mobile_action {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.mobile_btn {
  width: 40px;
}

#mobileJump {
  width: 60px;
}

#movingRightBtn {
  transform: rotate(180deg);
}

#mobileThrow {
  width: 80px;
}

/* MOBILE_BUTTONS */
.d_none {
  display: none;
}

@media only screen and (max-width: 1300px) {
  .main_container {
    width: 100%;
  }
  .wrapper {
    margin: 6rem;
    height: auto;
  }
  canvas {
    width: 100%;
  }
  .gameOver_screen_container .gameOver_screen_content h2,
  .win_Screen_container .win_screen_content h2 {
    margin-bottom: 0;
  }
  .controls_container .controls_head h2 {
    margin: 0;
  }
  .menu_container .restart_btn {
    width: auto;
    padding: 0;
    font-size: unset;
  }
  .menu_container .fullscreen_btn {
    display: none;
  }
  #mobileBtn {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */