@font-face {
  font-family: "zabras";
  src: url("../font/zabars.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../img/5_background/desert2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  box-sizing: border-box;
}

.main_container {
  display: flex;
  justify-content: center;
  margin: 10rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}

canvas {
  display: block;
  background-color: black;
}

/* MENU */
.menu_container {
  position: absolute;
  top: 1rem;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  background-color: #a0220a;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  z-index: 100;
}
.menu_container .restart_btn,
.menu_container .sound_btn,
.menu_container .fullscreen_btn {
  width: 100%;
  padding: 0.5rem;
  font-family: "zabras", sans-serif;
  font-size: 1.25rem;
  color: black;
  background-color: rgb(250, 165, 0);
  border: unset;
  border-radius: 5px;
  box-shadow: -1px 1px 5px 0px #000;
}
.menu_container .restart_btn:hover,
.menu_container .sound_btn:hover,
.menu_container .fullscreen_btn:hover {
  cursor: pointer;
  background-color: rgb(253, 183, 44);
}
.menu_container .restart_btn img,
.menu_container .sound_btn img,
.menu_container .fullscreen_btn img {
  width: 1.5rem;
  height: 1.5rem;
}

/* MENU */
/* STARTSCREEN */
.start_screen_container {
  display: flex;
  width: 100%;
  height: 100%;
}
.start_screen_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.start_screen_container .btn_container {
  position: absolute;
  top: 1rem;
  left: 2rem;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  background-color: #a0220a;
  border: 1px solid whitesmoke;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  z-index: 100;
}
.start_screen_container .start_Button {
  width: 100%;
  padding: 0.5rem;
  font-family: "zabras", sans-serif;
  font-size: 1.25rem;
  color: black;
  background-color: rgb(250, 165, 0);
  border: unset;
  border-radius: 5px;
  box-shadow: -1px 1px 5px 0px #000;
}
.start_screen_container .start_Button:hover {
  cursor: pointer;
  background-color: rgb(253, 183, 44);
}
.start_screen_container .controls_Button {
  width: 100%;
  padding: 0.5rem;
  font-family: "zabras", sans-serif;
  font-size: 1.25rem;
  color: black;
  background-color: rgb(250, 165, 0);
  border: unset;
  border-radius: 5px;
  box-shadow: -1px 1px 5px 0px #000;
}
.start_screen_container .controls_Button:hover {
  cursor: pointer;
  background-color: rgb(253, 183, 44);
}

/* STARTSCREEN */
/* CONTROLS */
.controls_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  background: radial-gradient(circle, hsl(38, 59%, 78%) 0%, hsl(38, 31%, 65%) 81%);
}
.controls_container .controls_head {
  display: flex;
  justify-content: center;
  gap: a;
  width: 100%;
  font-size: 1.5rem;
}
.controls_container .controls_head h2 {
  font-family: "zabras", sans-serif;
  font-size: 4rem;
  letter-spacing: 3px;
  margin-bottom: 4rem;
  text-align: center;
}
.controls_container .controls_head img {
  position: absolute;
  right: 40px;
  top: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.controls_container .controls_table {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  width: 100%;
  max-width: 500px;
  border-spacing: 0 15px;
}
.controls_container .info {
  padding-left: 10rem;
}

/* CONTROLS */
/* WIN_SCREEN */
.win_Screen_container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.82);
}
.win_Screen_container .win_screen_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.win_Screen_container .win_screen_content h2 {
  margin-bottom: 3rem;
  font-family: "zabras", sans-serif;
  font-size: 160px;
  color: #ffcc00;
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
}
.win_Screen_container .win_screen_content .restart_win_btn {
  width: 10rem;
  min-width: 1rem;
  padding: 0.5rem;
  font-family: "zabras", sans-serif;
  font-size: 1.5rem;
  color: black;
  background-color: rgb(250, 165, 0);
  border: unset;
  border-radius: 5px;
  box-shadow: -1px 1px 5px 0px #000;
}
.win_Screen_container .win_screen_content .restart_win_btn:hover {
  cursor: pointer;
  background-color: rgb(253, 183, 44);
}

/* WIN_SCREEN */
/* .controls_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
} */
@media only screen and (max-width: 1300px) {
  .wrapper {
    width: 100%;
  }
  canvas {
    width: 100%;
    height: 100%;
  }
}
.d_none {
  display: none;
}/*# sourceMappingURL=style.css.map */