@font-face {
  font-family: "zabras";
  src: url("/font/zabars.ttf") format("truetype");
}

$mainFont: "zabras", sans-serif;
$systemFont: system-ui, sans-serif;

@mixin centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

